In [1]:
import pandas as pd

movies = pd.read_csv('./tmdb-movies.csv')

In [2]:
movies.head(1)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09

In [3]:
genre = movies.loc[:, ['id', 'genres']]
genre.head(5)

       id                                     genres
0  135397  Action|Adventure|Science Fiction|Thriller
1   76341  Action|Adventure|Science Fiction|Thriller
2  262500         Adventure|Science Fiction|Thriller
3  140607   Action|Adventure|Science Fiction|Fantasy
4  168259                      Action|Crime|Thriller

In [4]:
genre_list = genre['genres'].str.split('|').tolist()

In [5]:
for i in range(len(genre_list)):
    if not isinstance(genre_list[i], list):
        genre_list[i] = [genre_list[i]]

In [6]:
genre_list[:5]

[['Action', 'Adventure', 'Science Fiction', 'Thriller'],
 ['Action', 'Adventure', 'Science Fiction', 'Thriller'],
 ['Adventure', 'Science Fiction', 'Thriller'],
 ['Action', 'Adventure', 'Science Fiction', 'Fantasy'],
 ['Action', 'Crime', 'Thriller']]

In [7]:
stacked_genre = pd.DataFrame(genre_list, index=genre['id']).stack()

In [8]:
print(stacked_genre.head(1))

id
135397  0    Action
dtype: object

In [9]:
stacked_genre = stacked_genre.reset_index()

In [10]:
print(stacked_genre.head(1))

       id  level_1       0
0  135397        0  Action

In [11]:
stacked_genre = stacked_genre.loc[:, ['id', 0]]

In [12]:
print(stacked_genre.head(5))

       id                0
0  135397           Action
1  135397        Adventure
2  135397  Science Fiction
3  135397         Thriller
4   76341           Action

In [13]:
stacked_genre.columns = ['id', 'genre']

In [14]:
print(stacked_genre.head(1))

       id   genre
0  135397  Action

Using the stacked_genre dataframe, you will be able to find out how many movies have a certain genre.

You can join the 'stacked_genre' dataframe with the original one (inner join, match id to movie_id) if you wish to enrich the stacked_genre dataframe with other information (eg: rating). You will then be able to get the average rating aggregated by genre.

In [15]:
merged = pd.merge(movies, stacked_genre, on='id', how='left')

In [16]:
merged.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,genre
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09,Action
1,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09,Adventure
2,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09,Science Fiction
3,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09,Thriller
4,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08,Action

In [17]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26993 entries, 0 to 26992
Data columns (total 22 columns):
id                      26993 non-null int64
imdb_id                 26968 non-null object
popularity              26993 non-null float64
budget                  26993 non-null int64
revenue                 26993 non-null int64
original_title          26993 non-null object
cast                    26868 non-null object
homepage                7155 non-null object
director                26900 non-null object
tagline                 20599 non-null object
keywords                23654 non-null object
overview                26987 non-null object
runtime                 26993 non-null int64
genres                  26970 non-null object
production_companies    24781 non-null object
release_date            26993 non-null object
vote_count              26993 non-null int64
vote_average            26993 non-null float64
release_year            26993 non-null int64
budget_adj              26993 non-null float64
revenue_adj             26993 non-null float64
genre                   26970 non-null object
dtypes: float64(4), int64(6), object(12)
memory usage: 4.7+ MB

In [18]:
merged.sort_values(by=['id']).head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,genre
19687,5,tt0113101,1.234890,4000000,4300000,Four Rooms,Tim Roth|Antonio Banderas|Jennifer Beals|Madon...,NaN,Allison Anders|Alexandre Rockwell|Robert Rodri...,Twelve outrageous guests. Four scandalous requ...,...,98,Comedy,Miramax Films|A Band Apart,12/25/95,293,6.4,1995,5.723867e+06,6.153158e+06,Comedy
25392,6,tt0107286,0.815631,0,12136938,Judgment Night,Emilio Estevez|Cuba Gooding Jr.|Denis Leary|Je...,NaN,Stephen Hopkins,Don't move. Don't whisper. Don't even breathe.,...,110,Action|Thriller|Crime,Largo Entertainment|JVC Entertainment Networks,10/15/93,36,6.4,1993,0.000000e+00,1.832034e+07,Crime
25391,6,tt0107286,0.815631,0,12136938,Judgment Night,Emilio Estevez|Cuba Gooding Jr.|Denis Leary|Je...,NaN,Stephen Hopkins,Don't move. Don't whisper. Don't even breathe.,...,110,Action|Thriller|Crime,Largo Entertainment|JVC Entertainment Networks,10/15/93,36,6.4,1993,0.000000e+00,1.832034e+07,Thriller
25390,6,tt0107286,0.815631,0,12136938,Judgment Night,Emilio Estevez|Cuba Gooding Jr.|Denis Leary|Je...,NaN,Stephen Hopkins,Don't move. Don't whisper. Don't even breathe.,...,110,Action|Thriller|Crime,Largo Entertainment|JVC Entertainment Networks,10/15/93,36,6.4,1993,0.000000e+00,1.832034e+07,Action
2860,11,tt0076759,12.037933,11000000,775398007,Star Wars,Mark Hamill|Harrison Ford|Carrie Fisher|Peter ...,http://www.starwars.com/films/star-wars-episod...,George Lucas,"A long time ago in a galaxy far, far away...",...,121,Adventure|Action|Science Fiction,Lucasfilm|Twentieth Century Fox Film Corporation,3/20/77,4428,7.9,1977,3.957559e+07,2.789712e+09,Action

In [21]:
merged.groupby('genre').count().sort_values(by=['id'], )

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
genre,,,,,,,,,,,,,,,,,,,,,
Western,165,165,165,165,165,165,165,22,164,138,...,165,165,165,160,165,165,165,165,165,165
TV Movie,167,167,167,167,167,167,167,43,162,74,...,167,167,167,135,167,167,167,167,167,167
Foreign,188,188,188,188,188,188,187,46,185,67,...,188,188,188,122,188,188,188,188,188,188
War,270,270,270,270,270,270,268,64,270,207,...,270,270,270,259,270,270,270,270,270,270
History,334,334,334,334,334,334,331,87,332,231,...,334,334,334,308,334,334,334,334,334,334
Music,408,407,408,408,408,408,405,124,402,277,...,407,408,408,342,408,408,408,408,408,408
Documentary,520,519,520,520,520,520,478,262,509,260,...,519,520,520,338,520,520,520,520,520,520
Animation,699,697,699,699,699,699,669,259,692,419,...,699,699,699,641,699,699,699,699,699,699
Mystery,810,810,810,810,810,810,809,187,809,660,...,810,810,810,773,810,810,810,810,810,810
Fantasy,916,913,916,916,916,916,911,267,912,710,...,916,916,916,843,916,916,916,916,916,916
Family,1231,1230,1231,1231,1231,1231,1219,333,1223,865,...,1231,1231,1231,1107,1231,1231,1231,1231,1231,1231
Science Fiction,1232,1227,1232,1232,1232,1232,1230,369,1226,1015,...,1231,1232,1232,1144,1232,1232,1232,1232,1232,1232
Crime,1357,1357,1357,1357,1357,1357,1357,324,1356,1153,...,1357,1357,1357,1302,1357,1357,1357,1357,1357,1357
Adventure,1471,1469,1471,1471,1471,1471,1469,443,1466,1190,...,1471,1471,1471,1390,1471,1471,1471,1471,1471,1471
Horror,1637,1637,1637,1637,1637,1637,1637,374,1636,1346,...,1637,1637,1637,1526,1637,1637,1637,1637,1637,1637
Romance,1712,1712,1712,1712,1712,1712,1712,419,1708,1270,...,1711,1712,1712,1572,1712,1712,1712,1712,1712,1712
Action,2387,2382,2387,2387,2387,2387,2384,639,2381,1948,...,2387,2387,2387,2242,2387,2387,2387,2387,2387,2387
Thriller,2910,2910,2910,2910,2910,2910,2908,742,2907,2401,...,2910,2910,2910,2751,2910,2910,2910,2910,2910,2910
Comedy,3793,3792,3793,3793,3793,3793,3785,933,3782,2860,...,3792,3793,3793,3442,3793,3793,3793,3793,3793,3793
Drama,4763,4761,4763,4763,4763,4763,4755,1213,4757,3503,...,4763,4763,4763,4375,4763,4763,4763,4763,4763,4763